<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
  </head>
  <body>
    <h1>Hello Admin</h1>
    <div>
      <form method="POST" action="/user_game">
        <h4>Create new User</h4>
        <label for="username">Username</label>
        <br />
        <input
          type="text"
          placeholder="Enter Username"
          name="username"
          required="true"
        />
        <br />
        <label for="password">Password</label>
        <br />
        <input type="password" placeholder="Enter Password" name="password" />
        <br />
        <button type="submit">Create</button>
      </form>
    </div>
    <form method="GET" action="/user_game/deleteAll">
      <button type="submit" name="id">Delete All User?</button>
    </form>
    <div>
      <% if (data && data.length) { %> <% data.forEach(i => { %>
      <tr>
        <th scope="row"><%= i.id %></th>
        <td><%= i.username %></td>
        <td><%= i.password %></td>
        <td>
          <form method="POST" action="/user_game/edit">
            <button type="submit" name="id" value="<%= i.id %>">Edit</button>
          </form>
        </td>
        <td>
          <form method="POST" action="/user_game/delete">
            <button type="submit" name="id" value="<%= i.id %>">Delete</button>
          </form>
        </td>
      </tr>
      <% }); %> <% } else { %>
      <p>No users atm.</p>
      <% } %>
    </div>
  </body>
</html>
