<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
</head>
<body>
    <form action="/user_game?method=put" method="POST">
        <div class="container">
            <h3>Edit Data user Game</h3>
            <div>ID</div>
                <input type="text" name="user_id" value="<%= dataToEdit.user_id %>" readonly></input>
            <div>Username</div>
                <input type="text" name="username" value="<%= dataToEdit.username %>"></input>
            <div>Password</div>
                <input type="password" name="password" value="<%= dataToEdit.password %>"></input>
            <br>
                <input formaction="/user_game?method=PUT" type="submit" Value="Edit"></input>
            </div>
    </form>

</body>
</html>l