<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form method="POST" action="/login">
        <label for="username">Username</label>
        <br>
        <input type="text" placeholder="Enter Username" name="username" required="true">
        <br>
        <label for="password">Password</label>
        <br>
        <input type="password" placeholder="Enter Password" name="password">
        <br>
        <button type="submit">Login</button>
    </form>
</body>
</html>